git_helper/GoogleSearch/.idea
git_helper/GoogleSearch/*.txt
git_helper/GoogleSearch/webtext.rtfd
git_helper/git-web/git-helper-2016/GoogleSearch
git_helper/git-web/git-helper-2016/rate_results.py
git_helper/git-web/git-helper-2016/site/css
git_helper/git-web/git-helper-2016/*.pyc
*.pyc
